$text-primary-default: #303030;
$text-primary-hover: #505050;
$text-primary-active: #1e1e1e;

$primary-acent-default: #0960e3;
$primary-acent-hover: #6095ff;
$primary-acent-active: #004fc6;

$text-tertiary-default: #828282;

$divider-default: #e9e9e9;
$divider-hover: #cfcfcf;

$blue800: #004fc6;
$blue700: #0960e3;
$blue600: #6095ff;
$blue500: #98baff;
$blue400: #c5d8ff;
$blue300: #dfeaff;
$blue200: #eff4ff;
$blue100: #f6faff;

$gray1000: #1e1e1e;
$gray800: #303030;
$gray700: #505050;
$gray600: #606060;
$gray500: #828282;
$gray400: #9b9b9b;
$gray300: #b4b4b4;
$gray200: #cfcfcf;
$gray100: #e8e8e8;
$gray50: #f3f3f3;
$gray25: #fafafa;

$white-color: white;
