@import './normalize.scss';
@import '@styles/__defines.scss';

#nav a.active,
a.hover div {
  div {
    font-weight: 500;
    color: $primary-acent-default;

    background-color: $blue300;

    border-color: $blue300;
  }

  svg {
    color: $primary-acent-default;
  }
}

.mantine-Popover-dropdown {
  &.mantine-Select-dropdown {
    border-radius: 8px;

    .mantine-Select-option {
      padding: 14px 24px;
      //color: $text-default;
      font-size: 16px;
      line-height: 18px;

      flex-direction: row-reverse;
      justify-content: flex-end;

      &:hover {
        background-color: #eef6fc;
      }
    }
  }
}
