@import '@styles/__defines.scss';

.button {
  height: 50px;
  width: fit-content;
  padding: 14px 20px;
  background: $text-primary-default;
  border-radius: 12px;
  color: $white-color;
  transition: all 0.2s ease;
  z-index: 10;

  position: relative;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  &.full {
    width: unset;
    flex: 1;
  }

  &:not(.disabled) {
    @media (hover: hover) {
      &:hover {
        background-color: $text-primary-hover;
      }
    }
  }

  &.disabled {
    background-color: $gray100;
    color: $text-tertiary-default;
  }

  &.loading {
    opacity: 0.5;
  }

  &.outline {
    background: transparent;
    border: 2px solid $divider-default;
    color: $text-primary-default;

    svg {
      color: $text-primary-default;
    }
    &:not(.disabled) {
      @media (hover: hover) {
        &:hover {
          border-color: $divider-hover;
          background-color: transparent;
        }
      }
    }

    &.disabled {
      background-color: $gray25;
      color: $gray300;
    }
  }

  &.accent {
    background: $primary-acent-default;
    color: $white-color;

    svg {
      color: $text-primary-default;
    }
    &:not(.disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: $primary-acent-hover;
        }
      }
    }

    &.disabled {
      background-color: $gray100;
      color: $text-tertiary-default;
    }
  }
}

.button-wrapper {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;

  &.solo {
    column-gap: 0;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &.loading {
    .label,
    .icon {
      visibility: hidden;
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;
}
