@import '@styles/__defines.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 40px;

  border-bottom: 1px solid $divider-default;

  .link {
    padding: 15px 18px;
    border: 1.5px solid $divider-default;
    border-radius: 32px;

    font-weight: 500;
    color: $text-primary-default;

    svg {
      color: $text-tertiary-default;
    }
  }
}
