@import '@styles/__defines.scss';

.input {
  input {
    background-color: transparent;
    padding: 14px;
    border-radius: 8px;

    border: 1px solid $divider-default;

    height: 50px;
    width: 274px;

    color: $text-primary-default;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    &:focus-within {
      border-color: $primary-acent-default;
    }

    &::placeholder {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      color: $text-secondary-default;
    }

    &:disabled {
      background: #dee2e6;
      &::placeholder {
        color: white;
      }
    }
  }

  [data-position='right'] {
    width: unset;
  }

  label {
    margin-bottom: 8px;
    color: #383838;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
}
