@import '@styles/__defines.scss';

.select {
  input {
    background-color: transparent;
    padding: 14px;
    border-radius: 8px;
    border-color: $divider-default;

    height: 50px;
    flex: 1;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;

    &:focus-within {
      border-color: $primary-acent-default;
    }

    &::placeholder {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      color: $text-secondary-default;
    }

    &:disabled {
      background: #adb5bd;
      //color: $placeholder-color;
    }

    &[data-disabled='true'] {
      background: #f1f1f2;
      //color: $placeholder-color;
    }
  }

  label {
    margin-bottom: 8px;
    color: #383838;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
}
