@import '@styles/__defines.scss';

.root {
  input {
    width: 24px;
    height: 24px;

    background-color: transparent;
    border-width: 2px;
    border-color: $divider-default;
  }

  > div {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    &[data-checked='true'] {
      ///background-color: $main-blue-color;
      border: none;

      svg {
        width: 8px;
      }
    }

    > div {
      &:first-child {
        width: 24px;
        height: 24px;
      }
    }
  }

  label {
    color: $text-primary-default;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    width: fit-content;
  }
}
